export DJANGO_SECRET_KEY=''
export DEBUG=''
export ALLOWED_HOSTS=''
export CSRF_TRUSTED_ORIGINS=''
export DATABASE_URL=''
export CORS_ORIGIN_WHITELIST=''
export APP_HOST=''
export ADMIN_USERNAME=''
export ADMIN_PASSWORD=''
export REDIS_URL=''
export GS_CLOUD_SQL_CONNECTION_NAME=''
export USE_WHITENOISE=''

export PAYMENT_FDI_SECRET_KEY=''
export PAYMENT_FDI_ACCOUNT_ID=''
export PAYMENT_FDI_APP_ID=''
export PAYMENT_FDI_BASE_URL=''
export PAYMENT_FDI_CALLBACK_URL=''

export NOTIFICATION_FDI_SECRET_KEY=''
export NOTIFICATION_FDI_ACCOUNT_ID=''
export NOTIFICATION_FDI_SENDER_ID=''
export NOTIFICATION_FDI_BASE_URL=''